# ==============================================================================
# RayFlow Admin environment template
# ==============================================================================

CI=true
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_APP_VERSION=0.0.4
RAYFLOW_API_PROXY_TARGET=http://backend:3000
